@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, -apple-system, sans-serif;
}

.react-flow__nodes,
.react-flow__node,
.react-flow__node-custom {
  overflow: visible !important;
}

@keyframes dashdraw {
  from {
    stroke-dashoffset: 10;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.animated-edge {
  stroke-dasharray: 5;
  animation: dashdraw 0.5s linear infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}